<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrapv3.css}" />
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>I Love You!</h1>
</body>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap-paginator.js}"></script>
<script th:src="@{/js/pagination-demo.js}"></script>
</html>