<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.vivian.repository.UserRoleMapper">
    <!--根据角色名字获取角色Id-->
    <select id="getRoleIdByName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
            id
        FROM
            `sso_role`
        WHERE
            name LIKE CONCAT(CONCAT('%',#{roleName}),'%')
    </select>
    <!--根据部门级别获取部门主管的Id-->
    <select id="getCorrespondMasterIdByLevel" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
            DISTINCT(charge_id)
        FROM
            `sso_department`
        WHERE
            type = #{level}
        AND NOT ISNULL(charge_id)
    </select>
    <!--根据部门主管Id和角色Id批量分级别插入部门主管-->
    <insert id="addRoleUserBatch">
        INSERT INTO sso_user_role (user_id, role_id)
        VALUES
        <foreach collection="masterIdList" item="item" index="index" open="" separator="," close="">
            (#{item},#{roleId})
        </foreach>
    </insert>
    <!--同步查询出orange系统中的人员权限信息-->
    <select id="getAllOrangeUserAuthority" resultType="com.github.vivian.domain.OrangeAuthority">
        SELECT
            d.user_id AS ssoId,
            e.guardian_id AS guardianId
        FROM
            admin_account a
        JOIN privilege b ON a.id = b.admin_id
        JOIN authority_group c ON c.id = b.privilege
        JOIN sso_contrast_id d ON a.id = d.contrast_id
        JOIN sso_contrast_role e ON e.orange_id = c.id
        ORDER BY
            a.id
    </select>

    <!--批量初始化orange用户权限-->
    <insert id="initialOrangeUserAuthority">
        INSERT INTO sso_user_role (user_id, role_id)
        VALUES
        <foreach collection="orangeAuthorityList" item="item" index="index" open="" separator="," close="">
            (#{item.ssoId},#{item.guardianId})
        </foreach>
    </insert>

</mapper>